{{>header}}
<title>Fitness Pro | FAQ</title>
{{>navbar}}

    <div class="2xl:mx-auto 2xl:container py-12 lg:px-20 md:px-6 px-4">
      <div class="w-full flex flex-col justify-center items-center">
        <div
          class="flex flex-col justify-center items-center text-center space-y-4"
        >
          <h1
            class="text-3xl lg:text-4xl font-semibold dark:text-white leading-9 md:leading-7 lg:leading-9 text-gray-800"
          >
            Frequently Asked Questions
          </h1>
          <p
            class="text-base leading-6 text-center dark:text-gray-400 text-gray-600 w-full md:w-10/12"
          >
            Here are few of the most frequently asked questions by our valueable
            customers
          </p>
        </div>
        <div
          class="mt-16 flex justify-start flex-col items-start w-full text-left space-y-8"
        >
          <div
            class="flex justify-start items-start flex-col text-left w-full xl:w-8/12"
          >
            <h3
              class="text-xl font-medium leading-7 dark:text-white md:leading-5 text-left text-gray-800"
            >
              Do we have any work experience?
            </h3>
            <p
              class="mt-6 text-base leading-6 dark:text-gray-400 text-gray-600"
            >
              Yes ! We have been providing services since past 8 years.
            </p>
            <br />
            <p class="text-base leading-6 dark:text-gray-400 text-gray-600">
              We have customers across the globe and more than 8000+ genuine reviews.
            </p>
          </div>
          <hr class="border border-gray-100 w-full" />
          <div
            class="flex justify-start items-start flex-col text-left w-full xl:w-8/12"
          >
            <h3
              class="text-xl font-medium leading-7 dark:text-white md:leading-5 text-left text-gray-800"
            >
              Do we provide online training?
            </h3>
            <p
              class="mt-6 text-base leading-6 dark:text-gray-400 text-gray-600"
            >
              We do provide online training as it has become more vital thing in this era.
            </p>
            <br />
            <p class="text-base leading-6 dark:text-gray-400 text-gray-600">
              Just contact us and we will let you know all our plans and features.
            </p>
          </div>
          <hr class="border border-gray-100 w-full" />
          <div
            class="flex justify-start items-start flex-col text-left w-full xl:w-8/12"
          >
            <h3
              class="text-xl font-medium leading-7 dark:text-white md:leading-5 text-left text-gray-800"
            >
              Do we provide nutrition plans?
            </h3>
            <p
              class="mt-6 text-base leading-6 dark:text-gray-400 text-gray-600"
            >
              Yes, nutrition plans , diets and workout plans are included in our yearly and monthly memberships.
            </p>
          </div>
          <hr class="border border-gray-100 w-full" />
        </div>
      </div>
    </div>
  
      
    {{>footer}}